
.matching-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.matching-page-card {
    padding: 10px 10px;
}

.matching-page button {
    width: 100px;
    height: 50px;
}